
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #ffcc00;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2rem;
    color: white;
    margin-left: 20px;
    
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    font-size: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #333;
}


.hero {
    background-color: #ffcc00;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #ffcc00;
    color: #333;
}


.product-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.product-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.product-card p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #ffcc00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #333;
    color: white;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

footer .social-links a:hover {
    color: #ffcc00;
}


@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 80%;
    }
}

